#donate-banner {
	display: none;
	position: relative;
	padding: 20px 0;
	background: @yellow;
	color: @white;
	
	h2, p {
		margin: 0;
		padding: 0;
	}
	a.btn {
		color: @grayDark;
		background: @white;
		margin-bottom: 1em;
		text-shadow: none;
	}
	a.not-now {
		position: absolute;
		right: 20px;
		bottom: 20px;
		color: darken(@yellow, 10%);
	}
}