#nav-themes {
	margin: 0; padding: 0;
	background: @gray;
	#gradient > .vertical(@grayDarker, @black);
	.carousel {
		margin: 0;
		.carousel-control {
			font-size: 16px;
			line-height: 50px;
			background: transparent;
		}
	}
	ul {
		margin: 0; padding: 0;
		list-style: none;
	}
	li {
		position: relative;
		display: block;
		color: @grayLight;
		list-style: none;
		height: 36px;
		line-height: 36px;
		text-align: center;
		&.active, &:hover {
			color: @white;
			background: @grayDarker;
		}
		.theme-name {
			position: absolute;
			bottom: 0; left: 0;
			width: 100%;
			&:hover {
				color: @white;
				text-decoration: none;
			}
		}
		.flyup {
			position: absolute;
			margin: -120px 0 0 0;
			top: -0px;
			height: 120px;
			width: 100%;
			overflow: hidden;
			a {
				display: block;
				width: 100%;
				color: @gray;
				text-shadow: none;
				background: @black;
				font-size: @fontSizeSmall;
				#gradient > .vertical(@black,@grayDark);
				&:hover {
					color: @white;
					text-decoration: none;
				}
			}
		}
	}
}