#donate-banner {
	display: none;
	position: relative;
	margin-bottom: -120px;
	width: 100%;
	padding: 10px 0 150px 0;
	background: #fb4;
	background-size: 100% auto;
	color: @white;
	z-index: 1050;
	pointer-events: none;
	
	h2, p {
		margin-top: 0;
		padding: 0;
	}

	a {
		pointer-events: auto;
		&.btn {
			color: @grayDark;
			background: @white;
			margin-bottom: 1em;
			text-shadow: none;
		}
		&.not-now {
			position: absolute;
			right: 20px;
			bottom: 80px;
			color: @white;
		}
	}
}
@media screen and (max-width:979px) {
	#donate-banner {
		padding-bottom: 20px;
		margin-bottom: 0;
		a.not-now {
			bottom: 20px;
		}
	}
}
@media screen and (max-width: 767px) {
	#donate-banner {
		.container {
			padding: 0 10px;
		}
	}
}
