.page-profile, .author {

	// Create Modals

	.pac-container { // Geocomplete
		z-index: @zindexModal;
	}

	#form-profile {
		input, textarea {
			max-width: 100%;
		}
		.user_thumbnail {
			width: 100%;
			height: auto;
		}
	}
	.profile-sidebar {
		padding: 2em 0;
		ul, li { list-style: none; margin: 0; padding: 0; }
		.edit-profile {
			float: right;
		}

	}

	.profile-header {
		position: relative;
		margin: 2em 2em 0 0;
		height: 20em;
		background: @gray center no-repeat;
		background-size: cover;
		.profile-thumbnail {
			position: absolute;
			top: 0; left: 0;
			width: 100%;
			height: auto;
		}
		.profile-location {
			position: absolute;
			padding: 10px;
			width: auto;
			bottom: 50px; left: 10px;
			color: black;
			background: white;
			font: @fontSizeSmall @headingsFontFamily;
		}
		.profile-name {
			position: absolute;
			display: block;
			max-width: 90%;
			margin: 10px;
			padding: 10px;
			bottom: 0; left: 0;
			color: white;
			background: @green;
			font-size: 2em;
			box-sizing: border-box;
			small {
				font-size: 0.5em;
			}
		}
		.profile-username {
			position: absolute;
			bottom: 10px; right: 10px;
			color: white;
		}
		.edit-profile {
			position: absolute;
			top: 10px; right: 10px;
			color: @white;
			background: transparent;
			text-shadow: none;
		}
	}
	.profile-library {
		color: white;
		background: @grayDark;
		margin: 0 2em 0 0;
		border-radius: 0 0 @borderRadiusLarge @borderRadiusLarge;
	}

		.profile-container {
			margin-bottom: 3em;
			padding-bottom: 5em;
			background: @white url('../img/logo-coda.png') bottom center no-repeat;
			.border-radius(@borderRadiusLarge);
			.profile-sidebar-inner {
				margin: 0; padding: 2em 0;
				ul {
					margin: 0; padding: 0;
				}
				li {
					list-style: none;
					clear: left;
				}
				.skill_name {
					margin: 0;
					padding: 0;
					display: inline-block;
				}
				.skill_level {
					color: @blue;
					font-size: @fontSizeLarge;
				}


				.participant-title {
					margin: 0;
				}
				.participant-location {
					font-size: @fontSizeMini;
				}
			}
			.profile-body-inner {
				padding: 2em 1em 2em 0;
				.profile-activity-buttons {
					margin: 0 -1em 1em;
					padding: 1em;
					color: @grayLight;
					background: @grayLighter;
					a {
						padding: 0.5em;
						color: @gray;
						background: @white;
						border-radius: @borderRadiusSmall;
						&:disabled {
							color: @grayLighter;
						}
					}
				}
			}
			.profile-collaborators {
				overflow: auto;
				a {
					font-size: @fontSizeMini;
					color: @white;
					text-decoration: none;
					text-align: center;
				}
				.profile-thumbnail {
					margin: 0 auto;
					width: 100%; height: auto;
					overflow: hidden;
					img {
						height: auto;
						width: auto;
						border-radius: 50%;
					}
					h4 {
						clear: both;
					}
				}
			}
			.profile-activity {
				margin: 0; padding: 0;
				list-style: none;
				.activity-thumbnail {
					margin-bottom: 1em;
					img { .border-radius(50%); }
				}
				.activity-meta {
					color: @grayLight;
					font-size: @fontSizeMini;
				}
				.activity-username, .activity-post {
					font-weight: bold;
				}
			}
		}

		.profile-edit-form {
			input,textarea {
				// display: block;
				margin: 5px 0; padding: 5px !important;
				background: rgba(128,128,128,0.25);
				border: none;
			}
			input.span1 {
				display: inline;
				margin-top: -5px;
			}
			.profile-bio {
				width: 80%;
				height: 200px;
			}
			.profile-website {
				width: 80%%;
			}
			.checkbox {
				margin: 0; padding: 0;
				clear: left;
				input {
					display: inline;
					margin-right: 1em;
				}
			}
		}
	}
@media screen and (max-width: 970px) {
	.profile-activity-buttons a {
		font-size: @fontSizeSmall;
	}
}