.htaccess
local-config.php
content/uploads/
content/upgrade/
content/backup*
content/advanced-cache.php
content/wp-cache-config.php
content/cache/
content/backups/
content/plugins/regenerate-thumbnails
content/plugins/wp_firephp
sitemap.xml
sitemap.xml.gz
/nbproject/
wp-cli.yml