.DS_Store
.htaccess

local-config.php
wp/

wp-content
content/backup*
content/cache/

content/plugins/*
!content/plugins/advanced-custom-fields/
!content/plugins/gravityforms/
!content/plugins/the-events-calendar/

content/upgrade/
content/uploads/

content/advanced-cache.php
content/wp-cache-config.php

sitemap.xml
sitemap.xml.gz

/nbproject/
wp-cli.yml