.DS_Store
.htaccess

local-config.php
wp/

wp-content
content/backup*
content/cache/

content/plugins/
content/upgrade/
content/uploads/

content/advanced-cache.php
content/wp-cache-config.php

sitemap.xml
sitemap.xml.gz

/nbproject/
wp-cli.yml