.participant-video-controls {
        width: 100%;
        position: relative;
        // top: -61px;

        .control-slider-area-cntnr {
                height: 13px;
                background: rgb(0,0,0);
                background: rgba(0,0,0,0.6);
                padding: 20px;
        }

        .taggable-area {
                float: left;
                clear: both;

                width: 100%;
                height: 20px;
                line-height: 20px;
                position: relative;
                z-index: 100;
                top: -20px;
                text-align: center;
                cursor: pointer;

                span {
                        .hide;
                        color: @white;
                        text-decoration: none;
                        cursor: pointer;
                }

                &:hover {
                        text-decoration: none;
                        span {
                                .show;
                        }
                }

                #tag-popup {
                        height: 100px;
                        width: 100px;
                        background: red;
                        position: absolute;
                        bottom: 0;
                }			
        }
        .popover {
                border-radius: 0;
                background: @grayDarker;
                border: none;
                padding: 0;

                &.top {
                        .arrow:after {
                                border-top-color: @grayDarker;
                        }
                }
                form {
                        margin: 0;
                }

                .popover-title {
                        background: none;
                        border-radius: 0;
                        border: none;
                        padding: 3px 8px;
                        font-family: 'Montreal Serial Medium';
                        font-size: 12px;
                        color: @grayLight;

                        .close {
                                float: right;
                                cursor: pointer;
                        }

                        .inner {
                                border-bottom: 1px dotted @grayLight;
                                padding-bottom: 3px;
                        }
                }
                .popover-content {
                        padding: 0;

                        .inner {
                                padding: 3px 8px;
                        }

                        .comment {
                                width: 100%;
                                .clearfix();
                                font-size: 12px;
                                margin-bottom: 5px;
                                div {
                                        float: left;
                                }
                                img {
                                        margin-right: 12px;
                                        border: 2px solid @white;
                                }
                                p {
                                        margin-bottom: 3px;
                                        line-height: 1.3em;
                                        &.user {
                                                font-weight: bold;
                                        }
                                }
                        }

                        .error {
                                color: @red;
                                margin-bottom: 5px; 
                        }
                }
                .tags-box {
                        border-top: 1px solid @gray;
                        line-height: 1.7em;
                        .clearfix();
                        & > div {
                                float: left;
                        }
                        .tags {
                                width: 71%;
                                padding: 3px 8px;
                        }
                        .add-tag {
                                float: right;
                                width: 15%;
                                padding: 3px 8px;
                                background: @grayDark;
                                text-align: center;
                        }
                }
        }

        .control-slider-cntnr,
        .control-time {
                float: left;
                line-height: 13px;
                height: 13px;
        }
        .control-slider-cntnr {
                width: 90%;
                position: relative;
        }
        .control-time {
                width: 10%;
                text-align: center;
                color: @grayLighter;
                text-shadow: 0 1px 1px @black;
                font-family: @headingsFontFamily;

                span {
                        font-size: 12px;
                        line-height: 13px;
                }
        }

        .control-buttons-cntnr {
                height: 34px;
                #gradient > .vertical(@grayDark,@black);
                // background: blue;

                .controls {
                        display: inline-block;
                        .pull-left;
                        height: 15px;
                        width: 38px;
                        text-align: center;
                        padding: 8px 0 12px;
                        border-right: 1px dotted @grayLight;
                        border-radius: 0;
                        border-top: none;
                        border-bottom: none;
                        .box-shadow(none);

                        .span {

                        }

                        &:hover {
                                cursor: pointer;
                        }
                }
        }
        .marker {
                display: inline-block;
                position: absolute;
                bottom: 0;
                height: 17px;
                width: 2px;
                background: @white;
                z-index: 99;
                margin-left: -1px;

                .arrow {
                        width: 0; 
                        height: 0;
                        z-index: 99;
                        border-left: 4px solid transparent;
                        border-right: 4px solid transparent;
                        border-bottom: 4px solid @white;
                        margin-left: -3px;
                        margin-top: -4px;
                }
        }

}