/*	==========================================================================
	Imports
	========================================================================== */

	@import "fonts";
	@import "variables";
	@import "bootstrap";


/*	==========================================================================
	Base
	========================================================================== */

	body {
		height: 100%;
		#gradient > .vertical(@grayLighter,@grayLight);

		text-rendering: optimizeLegibility;
	}
	
	hr {
		width: 100%;
		border: 0;
		border-top: 1px dotted @grayLight;
	}
	
	#wrap {
		background: @grayLight url('../img/bg.jpg') center top no-repeat;
		background-attachment: fixed;
		background-size: cover;
	}

	.btn {
		#gradient > .vertical(@grayDark,@black);
		color: @grayLighter;
		text-shadow: 0 1px 1px @black;
		font-family: @headingsFontFamily;
		&:hover {
			color: @white;
			#gradient > .vertical(@grayDarker,@black);
			.transition(none);
		}
	}
		
/*	==========================================================================
	Header
	========================================================================== */

	#banner {
		position: relative;
		background: @white;
		z-index: @zindexFixedNavbar;
		.site-title {
			margin: 0; padding: 0;
			a {
				display: block;
				height: 100px; width: 130px;
				background: transparent url('../img/logo.jpg') center no-repeat;
				text-indent: -9999px;
				overflow: hidden;
			}
		}
		.btn {
			color: @white;
			background: @grayLight;
			border: 1px solid @grayLight;
		}
		#nav-main {
			#gradient > .vertical(@grayDark, @black);
			.box-shadow(0 10px 15px rgba(0,0,0,0.5));
			position: relative; z-index: 9999;
			font-size: @fontSizeSmall;
			&.affix {
				position: fixed;
				top: 0; left: 0;
				width: 100%;
			}
			.menu-primary-header-navigation-container {
				float: left;
				ul {
					margin: 0; padding: 0;
					list-style: none;
				}
				li {
					display: inline-block;
					a {
					    margin-right: 25px; padding: 5px 25px 5px 0;
					    border-right: 1px dotted @grayLight;
					    line-height: 40px;
					    font-family: @headingsFontFamily;
					    color: @grayLighter;
					    text-shadow: 0 0 1px @black;
					}
					&:last-child a {
					    margin-right: 0; padding-right: 0;
					    border-right: none;
					}
				}
			}
			.menu-social-media-icons-container {
				float: right;
				width: 150px;
				ul {
					margin: 0; padding: 0;
				}
				li {
					display: inline-block;
					a {
						display: inline-block;
						margin: 5px 0;
						height: 32px; width: 32px;
						text-indent: -9999px;
						overflow: auto;
					}
					&.social-tw a {
						background: transparent url('../img/icon-tw.png') no-repeat;
					}
					&.social-fb a {
						background: transparent url('../img/icon-fb.png') no-repeat;
					}
					&.social-yt a {
						background: transparent url('../img/icon-yt.png') no-repeat;
					}
				}
			}
		}
		#masthead {
			#searchtab, #jointab, #logintab {
				margin: 10px;
			}
			#nav-user {
				float: right;
				li {
					margin: 2em 1em 0;
					text-align: center;
					.border-radius(@borderRadiusLarge);
					font: @fontSizeSmall @headingsFontFamily;
					i {
						margin-bottom: 0.5em;
					}
				}
			}
		}
		#nav-utility {
			background: url('../img/edges-color.png') center no-repeat;
			.lang-btn {
				float: left;
				margin: 10px 0;
			}
			.container {
				position: relative;
			}
			.nav-tabs {
				position: absolute;
				bottom: 0; right: 0;
				margin: 0; padding: 0;
				float: right;
				a {
					padding: 1em 2em 0.5em;
					background: @grayLighter;
					font: @fontSizeSmall @headingsFontFamily;
					i {
						position: relative;
						margin: -2px 0 0 -2px;
					}
				}
				li.active a {
					background: @white;
				}
			}
		}
	}
	

/*	==========================================================================
	Content
	========================================================================== */

	#content {
	}

	.local-navigation-menu {
		margin: 0 1em; padding: 0;
		list-style: none;
		li {
			border-bottom: 1px dotted @grayLight;
			&:last-child {
				border: none;
			}
		}
		a {
			display: block;
			padding: 1em 0;
			color: @grayLight;
			&:hover {
				color: @gray;
				text-decoration: none;
			}
		}
		li.current_page_item a {
			color: @gray;
		}
	}


/*	==========================================================================
	Primary Content
	========================================================================== */

	.page-excerpt {
		position: relative;
		max-width: 35em;
		min-height: 160px;
		margin: 2em auto 0;
		background: transparent url('../img/logo-subtle.png') center no-repeat;
		text-align: center;
		font: normal @fontSizeLarge @headingsFontFamily;
		color: @white;
		text-shadow: 0 0 10px rgba(0,0,0,0.75);
		p {
			position: absolute;
			top: 50%;
			height: 4em;
			margin-top: -2em;
		}
	}
	.static-page-container {
		margin: 2em 0;
		padding: 2em 0 5em;
		background: @white url('../img/logo-coda.png') bottom center no-repeat;
		.border-radius(@borderRadiusLarge);
		
	}


/*	==========================================================================
	Home
	========================================================================== */

	.home #wrap {
		background: @white center no-repeat fixed;
		background-size: cover;
	}
	#nav-featured {
		margin: 0; padding: 0;
		#gradient > .vertical(@grayDarker,@black);
		.box-shadow(0 0 5px rgba(0,0,0,0.5));
		ul {
			margin: 1em 0 0; padding: 0;
			list-style: none;
		}
		.featured-thumbnail {
			position: relative;
			box-sizing: border-box;
			height: 100px;
			background: @gray;
			border: 5px solid @white;
			.box-shadow(0 0 5px rgba(0,0,0,0.5));
			overflow: hidden;
			cursor: pointer;
			img {
				position: absolute;
				display: block;
				top: 0; bottom: 0; left: 0; right: 0;
				margin: auto;
				height: 100%; width: auto;
				-webkit-filter: ~"saturate(0%) contrast(40%)";
				filter: ~"saturate(0%) contrast(40%)";
			}
			&.active img, img:hover {
				-webkit-filter: ~"saturate(100%) contrast(100%)";
				filter: ~"saturate(100%) contrast(100%)";
			}
		}
		.carousel-control {
			&.left {
				left: -1em;
			}
			&.right {
				right: -1em;
			}
		}
	}
	.home #stage {
		padding: 2em 0;
	}
	.front-page {
		margin: 0 auto;
		text-align: center;
		color: @white;
		text-shadow: 0 2px 2px @black;
		.page-content {
			border-bottom: 1px dotted @white;
			p {
				font: @fontSizeLarge @headingsFontFamily;
			}
		}
	}
	.participant-summary {
		color: @white;
		.participant-map {
			margin: 0 0 1em;
		}
		.participant-meta {
			font-size: @fontSizeSmall;
		}
		.participant-content {
			margin: 1em 0;
			font-size: @fontSizeSmall;
		}
		.participant-location {
			font-weight: normal;
		}
	}

/*	==========================================================================
	Explore the Collection
	========================================================================== */

	.page-explore {
		#content {
			position: relative;
			width: 100%;
		}
		#popover {
			display: none;
			position: absolute;
			top: 50%; left: 50%;
			padding: 0 1em;
			background: @grayLighter;
			border: 1px solid @white;
			.border-radius(@borderRadiusSmall);
			.box-shadow(0 25px 25px rgba(0,0,0,0.25));
			font-size: @fontSizeMini;
			h3 {
				margin: 0; padding: 0;
				font-size: @baseFontSize;
				font-weight: normal;
			}
			.popover-name {
				color: @black;
				font-weight: bold;
			}
			.popover-location {
				font-weight: normal;
			}
			.popover-thumbnail {
				margin-bottom: 1em;
				border: 5px solid @white;
				.box-shadow(0 2px 2px rgba(0,0,0,0.5););
			}
			.btn {
				margin-top: 1em;
			}
			.close {
				margin: 0; padding: 0;
				height: 25px; width: 25px;
				position: absolute;
				top: 5px; right: 5px;
				color: @gray;
				background: @white;
				border: none;
				.border-radius(50%);
				line-height: 25px;
			}
		}
	}
	#mapview {
		position: relative;
		width: 100%;
		height: 640px;
		background: @gray;
		#countries {
			fill: @grayDarker;
			stroke: @gray;
			stroke-width: 1;
		}
		.marker {
			fill: @gray;
			cursor: pointer;
			.mapthumb { stroke-width: 3px; }
			&.africa		{ fill: @orange;	.mapthumb { stroke: @orange; } }
			&.antarctica	{ fill: @white;		.mapthumb { stroke: @white; } }
			&.australia		{ fill: @purple;	.mapthumb { stroke: @purple; } }
			&.asia			{ fill: @blue;		.mapthumb { stroke: @blue; } }
			&.europe		{ fill: @yellow;	.mapthumb { stroke: @yellow; } }
			&.north-america { fill: @green;		.mapthumb { stroke: @green; } }
			&.south-america { fill: @pink;		.mapthumb { stroke: @pink; } }
		}
	}

/*	==========================================================================
	Participant Detail
	========================================================================== */

	.single-participant {
		color: @white;
		h3 {
			font-size: @baseFontSize;
		}
		#wrap {
			background: @black;
		}
		#content {
			position: relative;
			width: 100%;
		}
		#stage {
			padding-bottom: 0;
		}
		.participant-video-embed {
			min-height: 528px; // 940px container at 16:9 ratio
			max-width: 100%;
		}
		.participant-video-buttons {
			padding: 1em 0;
		}
		.participant-detail-content {
			margin: 0 0;
			padding: 1em 0;
			#gradient > .vertical(@grayDarker,@grayDark);
			border-top: 1px solid @gray;
			text-shadow: 0 0 1px #000;
			.participant-title {
				font-weight: normal;
				font-size: @fontSizeLarge;
				line-height: 48px;
				border-bottom: 1px dotted @gray;
			}
			.participant-name {
				font-weight: bold;
			}
			.participant-meta {
			}
			.participant-content {
			    margin: 1em 0;
			}
			.participant-location {
				font-weight: light;
			}
		}
		.participant-crew {
			a {
				font-size: @fontSizeMini;
				color: @white;
				text-decoration: none;
				text-align: center;
			}
			.profile-thumbnail {
				margin: 0 auto;
				width: 100%; height: auto;
				overflow: hidden;
				img {
					height: auto;
					width: auto;
				}
				h4 {
					clear: both;
				}
			}
		}
		.participant-clips {
			h3 {
				line-height: 50px;
				border-bottom: 1px dotted @gray;
			}
			.participant-clip {
				padding: 1em 0;
				border-bottom: 1px dotted @gray;
				font-size: @fontSizeMini;
				cursor: pointer;
				a {
					color: @white;
					text-decoration: none;
				}
				.clip-thumbnail {
					position: relative;
					img {
						border: 5px solid @white;
					}
					&:after {
						position: absolute;
						top: 40%; left: 45%;
						color: @white;
						font-size: 36px;
						content: '►';
					}
				}
			}
		}
		.participant-filter-clips {
			padding: 0.75em;
			background: @grayDarker;
			.border-radius(@borderRadiusLarge);
			.box-shadow(0 2px 2px @black inset);
			h4 {
				font-size: @baseFontSize;
			}
			h5 {
				color: @gray;
			}
			a {
				display: inline-block;
				margin: 0 1em 1em 0;
				clear: both;
				line-height: 1em;
				padding: 0.5em 1em;
				color: @white;
				#gradient > .vertical(@grayLight,@gray);
				.border-radius(1em);
				.box-shadow(0 2px 2px rgba(0,0,0,0.5));
				font-size: @fontSizeMini;
				cursor: pointer;
				&:hover {
					text-decoration: none;
					#gradient > .vertical(@grayLighter,@gray);
				}
			}
		}
	}


/*	==========================================================================
	Member Profile
	========================================================================== */

	.page-profile, .author {
		
		.profile-header {
			position: relative;
			color: @white;
			background: @orange;
			.border-radius(@borderRadiusLarge @borderRadiusLarge 0 0);
			.profile-header-inner {
				padding: 10px;
			}
			.profile-location {
				font: @fontSizeLarge @headingsFontFamily;
			}
			.profile-name {
				margin: 0; padding: 0 200px 0 0;
				font-weight: normal;
				font-size: @fontSizeLarge*2;
			}
			.profile-username {
				position: absolute;
				bottom: 10px; right: 10px;
				color: darken(@orange,15%);
				font-size: @fontSizeLarge;
			}
			.edit-profile {
				position: absolute;
				top: 10px; right: 10px;
				color: @white;
				background: transparent;
				text-shadow: none;
			}

		}
		.profile-container {
			margin-bottom: 5em;
			background: @white url('../img/logo-coda.png') bottom center no-repeat;
			.border-radius(@borderRadiusLarge 0 @borderRadiusLarge @borderRadiusLarge);
			.profile-siderbar-inner {
				margin: 0; padding: 2em 0;
				ul {
					margin: 0; padding: 0;
				}
				li {
					list-style: none;
					clear: left;
				}
				.participant-thumbnail {
					float: left; clear: left;
					margin: 0 1em 1em 0;
					height: 50px; width: 50px;
					.border-radius(50%);
					overflow: hidden;
					img {
						height: 100%; width: 100%;
						
					}
				}
				.participant-title {
					margin: 0;
				}
				.participant-location {
					font-size: @fontSizeMini;
				}
			}
			.profile-thumbnail {
				margin: 0 0 1em 0;
				height: 200px; width: 100%;
				overflow: hidden;
				img {					
					width: 100%;
					height: auto;
				}
			}
			.profile-body-inner {
				padding: 2em 1em 2em 0;
			}
			.profile-activity {
				margin: 0; padding: 0;
				list-style: none;
				.activity-thumbnail {
					margin-bottom: 1em;
					img { .border-radius(50%); }
				}
				.activity-meta {
					color: @grayLight;
					font-size: @fontSizeMini;
				}
				.activity-username, .activity-post {
					font-weight: bold;
				}
			}
		}
		
		.profile-edit-form {
			input,textarea {
				display: block;
				margin: 5px 0; padding: 5px !important;
				background: rgba(128,128,128,0.25);
				border: none;
			}
			.profile-name, .profile-location {
				width: 80%;
			}
			.profile-bio {
				width: 80%;
				height: 200px;
			}
			.profile-website {
				width: 80%%;
			}
			.checkbox {
				margin: 0; padding: 0;
				clear: left;
				input {
					display: inline;
					margin-right: 1em;
				}
			}
		}
	}

/*	==========================================================================
	Blog
	========================================================================== */

	.blog #wrap, .single-post #wrap {
		background-repeat: no-repeat;
		background-size: cover;
	}
	.blog-title {
		margin: 1em 0;
		padding-left: 36px;
		color: @white;
		background: transparent url('../img/logo-blog.png') center left no-repeat;
		font: @fontSizeLarge @headingsFontFamily;
	}
	.sidebar-blog {
		margin: 0 1em;
	}
	/* Every post */
	
	.entry-date {
		display: inline-block;
		padding: 10px;
		color: @grayDark;
		background: @white;
		font: @fontSizeSmall @headingsFontFamily;
	}
	.entry-header {
		padding: 10px;
		color: @white;
		background: @orange;
		.entry-category {
			font: @fontSizeLarge @headingsFontFamily;
		}
		a {
			color: @white;
		}
		h2 {
			margin: 0;
			font-weight: normal;
		}
	}
	.entry-content {
		padding: 10px;
		background: @white;
	}
	.entry-share {
		display: inline-block;
		width: auto;
		padding: 10px;
		background: @grayLight;
	}
	
	/* Customize Top Post & Past Posts */
	
	.top-post .post {
		clear: both;
		margin: 15em 0 3em;
	}
	.blog .past-posts-container {
		margin: 0 0 5em;
		padding: 2em 0 5em;
		background: @white url('../img/logo-coda.png') bottom center no-repeat;
		.border-radius(@borderRadiusLarge);
		.post {
			margin: 0 0 2em;
			padding: 2em;
			background: #ccc center no-repeat;
			background-size: cover;
			.entry-date {
				margin: 10em 0 0;
			}
			.entry-header {
				display: block;
			}
			.entry-category {
				margin: 0;
				font-size: @baseFontSize;
			}
			.entry-title {
				margin: 0;
				font-size: @fontSizeLarge;
			}
			.entry-content {
				margin: 0;
				width: auto;
			}
			.entry-share {
				display: inline-block;
			}
		}
		.posts-navigation {
			margin: 2em 0;
			padding: 1em 0 0;
			border-top: 1px dotted @grayLight;
			text-align: center;
			a {
				padding: 10px;
				color: @white;
				#gradient > .vertical(@gray, @black);
			}
		}
	}
	.single-post {
		.entry-author {
			float: left;
			width: 50%;
		}
		.entry-tags {
			float: right;
			width: 50%;
			text-align: right;
		}
		.entry-content {
			margin-top: 2em;
			padding: 0;
		}
		.entry-about-author {
			.author-thumbnail {
				float: left;
				height: 50px; width: 50px;
				border-radius: 50%;
				overflow: hidden;
				img {
					height: 100%;
					width: auto;
				}
			}
			.author-meta {
				margin-left: 60px;
			}
			.author-description {
				clear: both;
				margin: 1em 0;
				padding: 0 0 1em;
				border-bottom: 1px dotted @gray;
			}
		}
	}
	.single-post-sidebar {
		margin: 0 1em;
	}
	.single-post-container {
		clear: both;
		margin: 0 0 5em;
		padding: 2em 0 5em;
		background: @white url('../img/logo-coda.png') bottom center no-repeat;
		.border-radius(@borderRadiusLarge);
		
	}


/*	==========================================================================
	Footer
	========================================================================== */

	#nav-modules {
		border-top: 1px solid @white;
		#gradient > .vertical(@grayLighter,@grayLight);
		.widget {
			margin-top: 2em; margin-bottom: 2em;
			min-height: 150px;
			background: @white;
			.border-radius(@borderRadiusLarge);
			.widget-inner {
				padding: 1em;
			}
			h4 {
				margin: 0 0 1em;
				padding-bottom: 0.5em;
				color: @grayLight;
				border-bottom: 1px dotted @grayLight;	
				font-size: @baseFontSize;
				font-weight: normal;
				
			}
		}
	}
	#content-info {
		padding: 5em 0;
		min-height: 360px;
		background: black url('../img/edges.jpg') no-repeat;
		background-size: cover;
		.box-shadow(0 0 25px rgba(0,0,0,1));
		font-size: @fontSizeMini;
		a {
			color: white;
		}
	}
	.footer-navigation-menus {
		color: @white;
		h4 {
			margin-top: 0;
			font-size: @baseFontSize;
		}
		ul {
			margin: 0; padding: 0;
			list-style: none;
		}
	}


/*	==========================================================================
	WordPress Generated Classes
	http://codex.wordpress.org/CSS#WordPress_Generated_Classes
	========================================================================== */

	.aligncenter { display: block; margin: 0 auto; }
	.alignleft { float: left; }
	.alignright { float: right; }
	figure.alignnone { margin-left: 0; margin-right: 0; }
	.more-link {
		display: block;
		width: 8em;
		margin: 1em 0 0; padding: 5px;
		color: @gray;
		#gradient > .vertical(@grayLighter, @gray);
		text-align: center;
	}


/*	==========================================================================
	Media Queries
	========================================================================== */

@media (max-width: 979px) {
	/* Fix top padding when using the responsive grid with the fixed topbar */
	body.top-navbar {
		padding-top: 0;
	}

	#nav-featured {
		.featured-thumbnail {
			height: 75px;
		}
	}
  
}