.log-display {
	font-family:"Courier New","Courier",fixed;
	font-size:9pt;
}
.wpe-notices.updated {
	text-align:left;
	vertical-align:middle;
	width:98%;
	color:#333;
	font-size:1.2em;
	border:2px solid #E6DB55;
	margin:0 0 0 3em;
	text-shadow:0 1px 0 #fff;
}
.wpe-notices.updated p {
	 padding-left:25px;
	 background:url(../images/favicon.ico) no-repeat 0px 2px;
}
.wpe-notices {
	margin-bottom:0;
}
.wpe-notices-critical.updated {
	background:#D1453D;
	color:#fff;
	border-width:1px;
	border-style:solid;
	border-color:#333;
	padding:0 .6em;
	-moz-border-radius:3px;
	-khtml-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border-top-left-radius:3px 3px;
	border-top-right-radius:3px 3px;
	border-bottom-right-radius:3px 3px;
	border-bottom-left-radius:3px 3px;
		text-shadow:0 1px 0 #000;
}
.wpe-notices-critical a {
	color:#ff6;
}
.wpe-notices-high.updated {
	color:#fff;
	border-width:1px;
	border-style:solid;
	border-color:#333;
	padding:0 .6em;
	-moz-border-radius:3px;
	-khtml-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border-top-left-radius:3px 3px;
	border-top-right-radius:3px 3px;
	border-bottom-right-radius:3px 3px;
	border-bottom-left-radius:3px 3px;
	background-color:#D18431;
	text-shadow:0 1px 0 #000;
}
.wpe-notices-high a {
	color:#ff6;
}
.wpe-notices-normal.updated {
}
.wpe-notices-low.updated {
}
.wpe-notices .dismissable {
	min-height:16px;
	min-width:16px;
	margin:10px;
	background:transparent;
	float:right;
	display:block;
}
.wpe-notices .dismissable img:hover {
	cursor:pointer;
}
div.message {
	padding:5px 10px;
		margin:5px 0;
	border:1px solid #737B35;
	background:#F2EFE6;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}
div.wp-tables {
	max-height:300px;
	overflow:scroll;
	background:white;
	max-width:500px;
	padding:10px;
}
div.wp-tables .table {
	width:400px;
	display:block;
	border-bottom:1px dotted #eee;
	padding:5px 0;
}
form#deploy-from-staging {
	width:500px;
}
form#deploy-from-staging label {
	display:block;
	float:left;
	font-weight:bold;
	width:100px;
	margin:5px 10px 5px 0;
	vertical-align: top;
}
/*** Apprise Notifications **/
.appriseOverlay {
	position:fixed;
	top:0;
	left:0;
	background:rgba(0,0,0,0.3);
	display:none;
	z-index:1000;
}
.appriseOuter {
	border: none;
	box-shadow:0 3px 7px #333;
	-moz-box-shadow:0 3px 7px #333;
	-webkit-box-shadow:0 3px 7px #333;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	-khtml-border-radius:4px;
	z-index:99999999;
	min-width:200px;
	min-height:50px;
	max-width:75%;
	position:fixed;
	display:none;
}
.appriseInner {
	background-color: white;
	font-size:1.2em;
	color: #333;
	text-shadow:0 1px 0 #fff;
	padding:40px 20px;
}
.appriseInner button {
	border:1px solid #bbb;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-khtml-border-radius:3px;
	background:#ddd;
	color:#777;
	font-size:12px;
	font-weight:700;
	cursor:pointer;
	box-shadow:0 1px 2px #ccc;
	-moz-box-shadow:0 1px 2px #ccc;
	-webkit-box-shadow:0 1px 2px #ccc;
	margin:0 3px;
	padding:4px 10px;
}
.appriseInner button:hover {
	color:#000;
}
.aButtons,.aInput {
	text-align:center;
	margin:20px 10px 0;
}
.aInput span {
	margin-right:10px;
	font-weight:normal;
}
.aTextbox {
	border:1px solid #aaa;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	-khtml-border-radius:4px;
	box-shadow:0 1px 0 #fff;
	-moz-box-shadow:0 1px 0 #fff;
	-webkit-box-shadow:0 1px 0 #fff;
	width:180px;
	font-size:12px;
	font-weight:700;
	padding:5px 10px;
}
.closeit {
	font-size:0.8em;
	float:right;
	clear:both;
	background:#737B35;
	padding:0 5px 3px;
}
.closeit a {
	text-decoration:none;
	color:#e7e7e7;
	font-weight:200;
	text-shadow:none;
}

/** Dify for WPE Plugin large screens **/
@media screen and (min-width: 1050px) {
	.wpe-content-wrapper.wpe_dify_fit {
		width: 70%;
		margin: 20px 0px;
		padding-right: 20px;
		float: left;
		border-right: 1px solid #ddd;
	}
	#wpe-dify-plugin{
		width: 25%;
		padding-left: 20px;
		float: left;
	}
	#wpe-dify-plugin .wpe-dify-section-break {
		display: none;
	}
}

#wpe-admin-display-options-subtitle {
	vertical-align: top;
}
.wpe-admin-display-options-save td {
	padding-top: 0px;
}

/** Dify styles for WPE Plugin and WP Dashboard Widget */
.wpe-dify-section-title h2 {
	display: none;
}
.wpe-dify-posts ul {
	margin-bottom: 0;
}
.wpe-dify-posts li {
	padding-bottom: 0px;
	margin-bottom: 20px;
}
.wpe-dify-posts li.hidden_post {
	background-color: #fae4d9;
}
.wpe-dify-posts li + li {
	border-top: 1px dashed #999999;
	padding-top: 20px;
}
.wpe-dify-posts .content {
	@include clearfix();
}
.wpe-dify-posts .content > * {
	margin: 0;
}
.wpe-dify-posts .content > * + * {
	margin-top: 10px;
}
.wpe-dify-posts .content img.alignleft {
	padding-right: 10px;
}
.wpe-dify-posts .content img.alignright {
	padding-left: 10px;
}
.wpe-dify-post-date {
	padding-top: 10px;
    color: #999999;
    clear: both;
}
.wpe-dify-show-more {
    padding: 20px 0px;
    text-align: center;
    display: block;
}
.wpe-dify-show-more a {
    display: none;
}
.wpe-dify-blog-spinner {
	display: none;
}

/** Dify styles for WPE Plugin */
.wpe-plugin-version {
	clear: both;
}

/* Dify styles fo WP Dashboard Widget */
#wpe-dify-widget {
	max-height: 300px;
}
#wpe-dify-widget .wpe-dify-section-break {
	display: none;
}
#wpe-dify-widget .wpe-dify-posts {
	max-height: 300px;
	overflow-y: auto;
	background: #FFFFFF;
}
#wpe-dify-widget .wpe-dify-content ul {
	margin-top: 0px;
	padding-bottom: 20px;
}
#wpe-dify-widget .content img {
	padding-bottom: 10px;
}
#wpe-dify-widget .content h3 {
	padding-left: 0px;
}
#wpe-dify-widget .wpe-dify-post-date {
	padding-top: 0px;
}
#wpe-dify-widget .wpe-dify-show-more {
	padding: 0px 0px 50px 0px;
	margin-top: -30px;
}
#wpe-dify-widget .wpe-dify-widget-overlay{
	margin-left:-12px;
	position: absolute;
	z-index: 50;
	bottom: 0;
	height: 100%;
	width: 100%;
	content: "";
	background: linear-gradient(to bottom, rgba(255,255,255,0) 60%, white 100%); /* Standard syntax */
	pointer-events: none; /* so the text is still selectable */
}

/* Dify styles for displaying wpengine blog in wp-admin dashboard */
#wpe-dify-widget .wpe-dify-blog-content {
	padding-bottom: 0px !important;
}
#wpe-dify-widget .wpe-dify-blog-content li {
	/*padding-top: 10px !important;*/
	margin-bottom: -20px !important;
}
